@charset "utf-8";

:root {
  --theme-color: #ff9900;
  --background-color: #fff;
  --text-color: #1a1a1a;
  --text-size: 60px;
  --hover-color: #007BAC;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background-color); 
  height: 100%;
  font-family: "Outfit", sans-serif;
}

/* header */

.header {
  background-color: var(--background-color); 
  color: var(--theme-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 30px;
}

.header-nav {
  list-style: none;
}
.header-nav li {
  display: inline;
  margin-left: 10px;
}
.header-nav li a {
  color: var(--theme-color);
  text-decoration: none;
  padding: 5px 10px;
  font-size: 18px;
}

.header-nav li a:hover {
  text-decoration: underline; 
  text-decoration-color: var(--theme-color); 
}

/* hero banner */

.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent url(../image/background.jpg) no-repeat center center/cover;
  background-color: var(--background-color);
  color: var(--theme-color);
  height: 100vh; 
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.hero-banner h1 {
  margin: 0;
  font-size: 4em;
  color: var(--text-color);
}

.hero-banner p {
  font-size: 1.5em;
  color: var(--text-color);
}

button {
  background-color: var(--theme-color);
  color: var(--background-color);
  border-radius: 3px;
  border: 1px solid var(--theme-color);
  width: 100px;
  height: 30px;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  animation: pulse 1s infinite;
  background-color: var(--background-color);
  color: var(--theme-color);
  cursor: pointer; 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* content */

#about-me-section {
  padding-top: 6em;
  background-color: #fff7eb;
}

.contact {
  font-size: var(--text-size);
  text-align: center;
}

.about {
  font-size: var(--text-size);
  text-align: center;
}

#me {
  color: var(--theme-color);
}

h1 {
  font-size: 50px;
  line-height: 70px;
  color: var(--text-color);
}

#full-name {
  color: var(--theme-color);
}

p {
  font-size: 18px;
  color: var(--text-color);
}

.left-content {
  width:48vw;
  float: left;
}

.content {
  min-height: 80vh;
  padding: 20px;
  display: flex;
  gap: 20px;
  margin-top: 110px;
}

#statement-two {
  padding-top: 20px;
}

#statement-one {
  padding-top: 70px;
}

.right-content img {
  max-width: 100%;
  height: auto;
}

/* animation */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 2s; 
}

/* contact me */

.contact-section {
  background-color: #ffefd8;
  padding-top: 80px;
  height: 70%;
  padding-bottom: 60px;
}

.contact-me-section {
  height: 50vh;
  padding: 20px 0 20px 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}

.contact-me-section h2 {
  color: var(--text-color); 
}

.contact-info {
  margin-top: 40px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-info a {
  color: var(--text-color);
}

.contact-info a:last-child {
  padding-right: 0;
}

.contact-info i:hover {
  
  transition: background-color 0.3s, color 0.3s;
  animation: pulse 1s infinite;
  background-color: #E9E9E9;
  cursor: pointer; 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#app-box {
  border: 1px solid var(--theme-color);
  background-color: #E9E9E9;
  width: 5em;
  height: 5em;
  border-radius: 12px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#app-box:last-child {
  margin-right: 0;
}

#app-box i {
  display: center;
  margin-top: 1.5em;
}

#app-box p {
  color: #333333;
  text-decoration: none !important;
}

a {
  text-decoration: none;
}

.whatsapp p {
  color: #25D366;
}

.image {
  border-radius: 12px;
}

.whatsapp:hover {
  color: #25D366;
}

.linkedin:hover {
  color: #0762C8;
}

.mail:hover {
  color: var(--theme-color);
}

.github:hover {
  color: #464545;
}

/* footer */

.footer {
  justify-content: space-between;
  background-color: var(--theme-color);
  color: var(--background-color);
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: var(--background-color);
  text-decoration: none;
  margin: 0 10px;
  margin-left: 30px;
}

.footer a:hover {
  text-decoration: underline;
}

.copyright {
  margin-right: 30px;
  float: right;
}

/* mobile */

@media (max-width: 768px) {
  .content, .hero-banner, .contact-me-section, .footer {
      padding: 10px;
  }

  .content {
      display: flex;
      flex-direction: column; 
  }

  .left-content, .right-content {
      width: 100%;
  }
  img {
    margin: 100px 0;
    width: 100%;
  }
  .header .container {
    display: inline-block;
  }
}
