@charset "utf-8";

:root {
  --theme-color: #ff9900;
  --background-color: #fff;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  margin: 0;
  background-color: var(--background-color); 
  height: 100%;
  font-family: "Outfit", sans-serif;
}

/* header */

.header {
  background-color: var(--background-color); 
  color: var(--theme-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  list-style: none;
}
.header-nav li {
  display: inline;
  margin-left: 10px;
}
.header-nav li a {
  color: var(--theme-color);
  text-decoration: none;
  padding: 5px 10px;
  font-size: 18px;
}

/* content */

h1 {
  font-size: 70px;
  line-height: 70px;
}

#full-name {
  color: var(--theme-color);
}

p {
  font-size: 18px;
}

.left-content {
  width:48vw;
  float: left;
}

.icons a {
  color: var(--theme-color);
  font-size: 30px;
  float: right;
  margin-top: 15px;
  padding-right: 10px;
}

a:first-child {
  padding-right: 0;
}

.content {
  min-height: 95vh;
  padding: 20px;
  display: flex;
  gap: 20px;
  margin-top: 110px;
}

#statement-two {
  padding-top: 20px;
}

#statement-one {
  padding-top: 70px;
}

/* footer */

.footer {
  background-color: var(--theme-color);
  color: var(--background-color);
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;

}
.footer a {
  color: var(--background-color);
  text-decoration: none;
  margin: 0 10px;
}